In [1]:
#Importando as bibliotecas que utilizarei nesse projeto
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('datasets/time_series_covid_19_confirmed.csv')
df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/24/20,4/25/20,4/26/20,4/27/20,4/28/20,4/29/20,4/30/20,5/1/20,5/2/20,5/3/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,1351,1463,1531,1703,1828,1939,2171,2335,2469,2704
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,678,712,726,736,750,766,773,782,789,795
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,3127,3256,3382,3517,3649,3848,4006,4154,4295,4474
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,731,738,738,743,743,743,745,745,747,748
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,25,25,26,27,27,27,27,30,35,35

In [3]:
df.rename(columns={'Province/State':'estado','Country/Region':'pais'},inplace=True)

In [4]:
df_melt = pd.melt(df,id_vars=['estado','pais','Lat','Long'],var_name='data',value_name='total')

In [5]:
df_melt[(df_melt['pais'] == 'China') & (df_melt['estado'] == 'Zhejiang')].head()

        estado   pais      Lat      Long     data  total
81    Zhejiang  China  29.1832  120.0934  1/22/20     10
347   Zhejiang  China  29.1832  120.0934  1/23/20     27
613   Zhejiang  China  29.1832  120.0934  1/24/20     43
879   Zhejiang  China  29.1832  120.0934  1/25/20     62
1145  Zhejiang  China  29.1832  120.0934  1/26/20    104